body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
.main{
  font-size: 80px;
  color:#D7E9B9;
  font-family: "Dancing Script",cursive;
}
h2{
  text-align: left;
  margin-left: 70px;
  color: #9BA17B;
  font-family: "Satisfy",cursive;
  font-size: 30px;
}
ul{
  text-align: left;
  margin-left: 70px;
  color: #BCCEF8;
  font-size: 20px;
  font-family: cursive;
}
p{
  font-size: 30px;
  color:#9ED2C6;
}
